.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  flex-direction: column;
  gap: 25px;
  font-size: 24px;
}

.btn {
  width: 100px;
  padding: 10px 0;
  background-color: #493eea;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  transition: 200ms;
  cursor: pointer;
}

.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.btn:hover:not(:disabled) {
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}

.btn-container {
  display: flex;
  gap: 20px;
}
